.add-section6-admin {
  background-color: white;
  padding: 40px;
  margin-top: 15px;
  > h1 {
    margin: auto;
    margin-bottom: 15px;
    border-bottom: 1px solid #aeaeae;
  }
  input[type="text"] {
    border: 1px solid #aeaeae;
  }
  .photo-pub {
    display: flex;
  }
  .img-pub {
    border: 1px dotted #aeaeae;
    width: 550px;
    height: 250px;
  }
  .button-add-pub {
    width: 150px;
    height: 150px;
    background-color: white;
    border-color: #ff7e00;
    color: #ff7e00;
    margin-right: 10px;
  }
 
}
