.add-new-user {
    background-color: white;
    padding: 40px;
    margin-top: 15px;
    h1{
        margin: auto;
        border-bottom: 1px solid #aeaeae;
        margin-bottom: 15px;
    }
    .input[type='text']{
        border: 1px solid #aeaeae;


    }
}