.category-list-admin {
  background-color: white;
  padding: 30px;
  margin-top: 15px;
  h1 {
    border-bottom: 1px #aeaeae solid;
    margin: auto;
  }
  .categories-acc {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;

    .accordion {
      padding-bottom: 20px;
      .card-body {
        margin-left: 20px;
      }
      .card-header {
        width: 100%;
        display: block;
        /* background: #FFF; */
        padding: 7px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        position: relative;
        button {
          position: absolute;
          right: 0;
          background-color: transparent;
          top: calc(50% - 6px);
          padding: 10px 20px;
          &:before {
            content: "";
            width: 10px;
            height: 10px;
            top: 0;
            right: 20px;
            border-left: #999 solid 1px;
            border-bottom: #999 solid 1px;
            position: absolute;
            transform: rotate(-45deg);
          }
        }
      }
    }
    .check-group {
      display: flex;
      justify-content: space-between;
      .iconedit {
        width: 18px;
        margin-right: 40px;
      }
      .icon-delete {
        width: 18px;
        margin-right: 40px;
      }
      .btncat {
        margin-right: 36px;
      }
      label {
        margin-bottom: 0;
      }
    }
  }
}
