.chekout-detail {
  background-color: #fff;
  margin-top: 14px;
  padding: 40px;
  border-radius: 4px;
  .verif-title {
    font-size: 24px;
    font-family: cursive;
    background-color: #f0f0f0;
    color: #32373cfa;
    margin-bottom: 14px;
    text-align: center;
    border-radius: 10px 100px;
    box-shadow: inset 0px 0px 6px 3px #ddd;
  }
  .table-details {
    border-collapse: collapse;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-bottom: 20px;
    thead {
      th {
        color: #32373c;
        font-size: 16px;
        font-weight: 600;
        padding: 7px 5px;
      }
      tr {
        background-color: white;
        border: 1px solid #ccd0d4;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      }
    }
    tbody {
      tr {
        border: 1px solid #ccd0d4;
        &:nth-child(odd) {
          background-color: #f9f9f9;
        }
        td {
          padding: 5px;
        }
      }
    }
  }

  .chekout-info {
    .picture-item {
      width: 80px;
      height: 80px;
    }
  }
  .price-commande {
    border: 1px solid #ccd0d4;
    width: 17%;
    padding: 10px;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    font-family: Georgia, serif;
    background-color: #f0f0f0;
    text-align: center;
    box-shadow: 0px 0px 2px 2px #ddd;
    border-radius: 4px;
    border: 2px solid #fff;
    margin-bottom: 14px;
  }
  .double-button {
    display: flex;
    justify-content: space-between;
    .button-check {
      border: none;
      padding: 8px 24px;
      border-radius: 4px;
      font-size: 16px;
      font-family: cursive;
      box-shadow: inset 0px 0px 4px 4px #ddd;
      color: #f5b137;
      margin-bottom: 15px;
      background-color: #f2f2f261;
    }
  }
  .coordonne {
    font-size: 24px;
    font-family: cursive;
    color: #32373cfa;
    margin-bottom: 15px;
  }
  .button-commande {
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
    font-size: 16px;
    font-family: cursive;
    box-shadow: inset 0px 0px 4px 4px #ddd;
    color: #e0213e;
    margin-bottom: 15px;
    background-color: #f2f2f261;
  }
  .btn-commande {
    margin-left: 40rem;
  }
}

.modal-achete {
  width: 800px;
  max-width: 80vw;
}
