.ce-register {
  margin-bottom: 100px;

  p {
    line-height: 1.6;
  }
  a {
    color: $color-orange;
  }
}

.group-items {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 20px;
  border: #ff7e00 solid 2px;
}
