.status-list-boutique {
  .icon {
    width: 20px;
    cursor: pointer;
  }
  .table-list-boutique {
    border-collapse: collapse;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    thead {
      th {
        color: #5e86a5;
        font-size: 16px;
        font-weight: 600;
        padding: 7px 5px;
      }
      tr {
        // &:nth-child(odd){
        //   background-color: #f8f9fd;
        // }
        background-color: white;
        border: 1px solid #ccd0d4;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      }
    }

    tbody {
      tr {
        border: 1px solid #ccd0d4;
        &:nth-child(odd) {
          background-color: #f9f0f0db;
        }
        td {
          padding: 5px;
        }
      }
    }
  }
}
