.modifier-slider {
  background-color: #fff;
  padding: 16px;
  .photo-button-group {
    .modif-button-photo {
      border: none;
      text-align: center;
      color: #fff;
      font-size: 16px;
      background-color: #48a49b;
      line-height: 1.4;
      padding: 7px 26px;
    }
  }
}
